WaccaProtocolTranslator-firmware/build/
WaccaProtocolTranslator-firmware/artifacts/
WaccaProtocolTranslator-firmware/.vscode/

WaccaProtocolTranslator-pcb/WaccaProtocolTranslator-backups/
WaccaProtocolTranslator-pcb/artifacts/
WaccaProtocolTranslator-pcb/fp-info-cache
WaccaProtocolTranslator-pcb/place_footprints.log

WaccaTouchPanel-firmware/build/
WaccaTouchPanel-firmware/artifacts/
WaccaTouchPanel-firmware/.vscode/

WaccaTouchPanel-pcb/WaccaTouchPanel-backups/
WaccaTouchPanel-pcb/artifacts/
WaccaTouchPanel-pcb/fp-info-cache
WaccaTouchPanel-pcb/place_footprints.log

/**/OldVersions/